.Lista-opciones label {
    display: block;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.Lista-opciones select {
    width: 100%;
    color: #A4A4A4;
    padding: 20px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline-color: #6278F7;
    border: none;
    background: #FFF;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 27px;
    box-sizing: border-box;

}